title: "Steven Klar"
title_seperator: "|"
theme: jekyll-theme-minimal
name: &name "Steven Klar"
future: true

twitter:
  username: "stevenklar"

author:
  name: "Steven Klar"
  avatar: "https://pbs.twimg.com/profile_images/1086708630689406976/9KraBDnv_400x400.jpg"
  location: "Potsdam, Germany"
  github: "stevenklar"

encoding: utf-8

timezone: Europe/Berlin

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/


# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  # _teaching
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  # _talks
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true
